.container {
    min-height: 100vh;
    height: auto;
}

.game-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}
