<div class="uiSelect" [ngClass]="classes">
    @if (label) {
    <label [ngClass]="classes" class="uiSelect-label" [attr.for]="'select_' + id"> {{ label }} @if (required) { <span class="req">*</span> }</label>
    }

    <div class="uiSelect-field">
        @if (prefixIcon) {
        <app-ui-icon [iconName]="prefixIcon" variant="secondary" class="prefix-icon"></app-ui-icon>
        }

        <select
            [id]="'select_' + id"
            class="select-control"
            [disabled]="disabled || isDisabled"
            [required]="required"
            [value]="value"
            (change)="onSelectChange($event)"
            (blur)="onBlur()"
            [style.text-align]="alignText ?? 'left'"
        >
            @if (placeholder) {
            <option value="" disabled selected hidden>{{ placeholder }}</option>
            }
            <ng-content></ng-content>
        </select>

        <div class="select-chevron">
            <app-ui-icon iconName="ChevronDown" variant="secondary"></app-ui-icon>
        </div>
    </div>
</div>
