@use 'variables' as *;

.ui-container {
    // Layout variants
    &.layout-flex {
        display: flex;
        flex-direction: column;
    }

    &.layout-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    &.layout-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Padding variants
    &.padding-sm {
        padding: $space-2;
    }

    &.padding-md {
        padding: $space-6;
    }

    &.padding-lg {
        padding: $space-8;
    }

    // Height variants
    &.height-auto {
        height: auto;
    }

    &.height-screen {
        height: 100vh;
        min-height: 100vh;
    }

    &.height-full {
        height: 100%;
    }
}
