<div
    #root
    class="draggable-panel"
    [class.dragging]="dragging"
    [class.is-collapsed]="draggablePanelService.isCollapsed"
    [style.left]="styleLeft()"
    [style.top]="styleTop()"
    [style.zIndex]="styleZ()"
    role="dialog"
    [attr.aria-modal]="false"
>
    <div #handle class="panel-header" [attr.aria-label]="title || 'Panel'">
        <span class="panel-title">{{ title }}</span>

        <button
            class="panel-dots"
            type="button"
            aria-label="Réduire/agrandir"
            [attr.aria-expanded]="!draggablePanelService.isCollapsed"
            (pointerdown)="$event.stopPropagation()"
            (click)="draggablePanelService.toggleCollapsed()"
        >
            <app-ui-icon [iconName]="draggablePanelService.isCollapsed ? 'ChevronDown' : 'ChevronUp'"></app-ui-icon>
        </button>
    </div>

    <div class="panel-body">
        <div class="panel-body-inner">
            <ng-content></ng-content>
        </div>
    </div>
</div>
