@use 'styles/theme' as *;

html,
body {
    height: 100%;
}
body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    transition:
        transform 0.1s ease,
        box-shadow 0.1s ease;
}
