@use 'variables' as *;

.uiIcon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    &:disabled,
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    &.s-sm {
        font-size: 1rem;
    }

    &.s-md {
        font-size: 1.5rem;
    }

    &.s-lg {
        font-size: 2rem;
    }
}
