
@use 'variables' as *;

.ui-sidebar {
  width: 250px;
  min-height: 100%;
  background: $gray-800;
  border-right: 1px solid $gray-700;
  
  .sidebar-nav {
    padding: $space-6;
    display: flex;
    flex-direction: column;
    gap: $space-2;
  }
}
