.page {
    position: relative;
    display: flex;
    gap: 60px;
}

.toolbox {
    position: sticky;
    top: 16px;
    align-self: start;
}

.grid-wrapper {
    display: grid;
    place-items: start;
    position: relative; /* Pour permettre le positionnement absolu à l'intérieur */
}

.grid {
    display: grid;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid #1f2937;
    position: relative;
}

/* Layer des objets qui seront par-dessus la grille */
.objects-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permet les clics à travers */
    z-index: 100;
}

.sanctuary-wrapper {
    position: absolute;
    z-index: 10;
}
