<div class="page">
    <app-edit-game-toolbar></app-edit-game-toolbar>
    <app-editor-inventory></app-editor-inventory>
    @if (grid$ | async; as grid) {
    <div #gridWrapper class="grid-wrapper">
        <div
            class="grid"
            [ngStyle]="{
                'grid-template-columns': 'repeat(' + grid.width + ', 1fr)',
                'grid-template-rows': 'repeat(' + grid.height + ', 1fr)'
            }"
        >
            @if (indices$ | async; as idxs) { @for (idx of idxs; track idx; let i = $index) {
            <app-edit-game-tile
                [x]="getXFromIndex(idx, grid)"
                [y]="getYFromIndex(idx, grid)"
                [tile]="grid.tiles[idx]"
                appTileSizeProbe
                [probeActive]="i === 0"
                (sizeChange)="tileSizeUpdate($event)"
            ></app-edit-game-tile>
            } }
        </div>
        @if (objects$ | async; as objects) { @if(tileSize$ | async; as tileSize) {
        <div
            class="objects-overlay"
            [style.gridTemplateColumns]="'repeat(' + grid.width + ', 1fr)'"
            [style.gridTemplateRows]="'repeat(' + grid.height + ', 1fr)'"
        >
            @for (obj of objects; track obj.id) {
            <app-edit-base-object [object]="obj" [tileSize]="tileSize"></app-edit-base-object>
            }
        </div>
        } }
    </div>
    }
</div>
