<div class="home-container">
    <header class="game-header">
        <div class="logo-container">
            <img src="assets/logo1.jpg" alt="Logo du jeu" class="game-logo" />
            <h1 class="game-title">{{ gameName }}</h1>
        </div>
    </header>

    <main class="main-menu">
        <div class="menu-buttons">
            <app-ui-link-button icon="group" [fullWidth]="true" [routerLink]="'/join-game-page'" [variant]="'secondary'" [disabled]="true">
                Rejoindre une partie (Bientôt disponible)
            </app-ui-link-button>
            <app-ui-link-button icon="add" [fullWidth]="true" [routerLink]="'/create--game-page'" [variant]="'primary'">
                Créer une partie
            </app-ui-link-button>
            <app-ui-link-button icon="admin_panel_settings" [fullWidth]="true" [routerLink]="'/admin-page'" [variant]="'primary'">
                Administrer les jeux
            </app-ui-link-button>
            <app-ui-input
                prefixIcon="SportsEsports"
                suffixIcon="SportsEsports"
                [(ngModel)]="gameName"
                [fullWidth]="true"
                label="Nom du jeu"
                placeholder="Le nom du jeu"
                [size]="'lg'"
                variant="primary"
                type="text"
                shape="square"
                alignText="left"
            ></app-ui-input>
        </div>
    </main>

    <footer class="team-info">
        <div class="team-details">
            <h2>Équipe {{ teamInfo.teamNumber }}</h2>
            <div class="team-members">
                <h3>Développeurs :</h3>
                <div class="members-list">
                    @for (member of teamInfo.members; track member) {
                    <app-ui-card [popOut]="true" alignContent="left" variant="warning" [fullWidth]="true">
                        <app-ui-card-title [iconRight]="true" icon="Code">{{ member }}</app-ui-card-title>
                        <app-ui-card-content>
                            <p>Rôle : Développeur</p>
                            <div style="max-width: 100%; display: flex; flex-direction: row; gap: 8px; flex-wrap: wrap">
                                <app-ui-icon size="lg" iconName="Code" />
                                <app-ui-icon size="lg" iconName="JavaScript" />
                                <app-ui-icon size="lg" iconName="Html" />
                                <app-ui-icon size="lg" iconName="Css" />
                                <app-ui-icon size="lg" iconName="Php" />
                                <app-ui-icon size="lg" iconName="Group" />
                                <app-ui-icon size="lg" iconName="Psychology" />
                                <app-ui-icon size="lg" iconName="Work" />
                                <app-ui-icon size="lg" iconName="Visibility" />
                                <app-ui-icon size="lg" iconName="VisibilityOff" />
                                <app-ui-icon size="lg" iconName="Logout" />
                                <app-ui-icon size="lg" iconName="Settings" />
                                <app-ui-icon size="lg" iconName="Error" />
                                <app-ui-icon size="lg" iconName="Warning" />
                                <app-ui-icon size="lg" iconName="Info" />
                                <app-ui-icon size="lg" iconName="Check" />
                            </div>
                        </app-ui-card-content>
                        <app-ui-card-footer> Étudiant en informatique </app-ui-card-footer>
                    </app-ui-card>
                    }
                </div>
            </div>
        </div>
    </footer>
</div>
