<div class="home-container">
    <header class="game-header">
        <div class="logo-container">
            <img src="assets/logo1.jpg" alt="Logo du jeu" class="game-logo" />
            <h1 class="game-title">{{ gameName }}</h1>
        </div>
    </header>

    <main class="main-menu">
        <div class="menu-buttons">
            <app-ui-link-button icon="group" [fullWidth]="true" [routerLink]="'/join-game-page'" [variant]="'secondary'" [disabled]="true">
                Rejoindre une partie (Bientôt disponible)
            </app-ui-link-button>
            <app-ui-link-button icon="add" [fullWidth]="true" [routerLink]="'/create--game-page'" [variant]="'primary'">
                Créer une partie
            </app-ui-link-button>
            <app-ui-link-button icon="admin_panel_settings" [fullWidth]="true" [routerLink]="'/admin-page'" [variant]="'primary'">
                Administrer les jeux
            </app-ui-link-button>
            <app-ui-input
                prefixIcon="SportsEsports"
                suffixIcon="SportsEsports"
                [(ngModel)]="gameName"
                [fullWidth]="true"
                label="Nom du jeu"
                placeholder="Le nom du jeu"
                [size]="'lg'"
                variant="primary"
                type="text"
                shape="square"
                alignText="left"
            ></app-ui-input>
        </div>
    </main>

    <footer class="team-info">
        <div class="team-details">
            <h2>Équipe {{ teamInfo.teamNumber }}</h2>
            <div class="team-members">
                <h3>Développeurs :</h3>
                <ul class="members-list">
                    @for (member of teamInfo.members; track member) {
                    <app-ui-card variant="info" [fullWidth]="true">
                        <app-ui-card-title alignText="center">{{ member }}</app-ui-card-title>
                        <app-ui-card-content alignText="center">
                            <p>Rôle : Développeur</p>
                            <app-ui-icon size="lg" variant="info" iconName="Code" />
                        </app-ui-card-content>
                        <app-ui-card-footer alignText="center"> Étudiant en informatique </app-ui-card-footer>
                    </app-ui-card>
                    }
                </ul>
            </div>
        </div>
    </footer>
</div>
