.home-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100%;
}

.game-logo-modern {
  width: 460px;
  max-width: 100%;
  object-fit: contain;
  filter: drop-shadow(2px 4px 6px #fff);
}

.menu-buttons-modern {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin-top: 2rem;
}
