<app-ui-page-layout [hasHeader]="true" [hasFooter]="true" [showBackButton]="true" headerTitle="Session de Jeu" (backClick)="onBack()">
    <h1>Session de Jeu</h1>
    <p>Session ID: {{ inGameSession.id }}</p>
    <p>Game ID: {{ inGameSession.gameId }}</p>
    <p>Session ID: {{ inGameSession.sessionId }}</p>
    <p>Map Size: {{ inGameSession.mapSize }}</p>
    <p>Mode: {{ inGameSession.mode }}</p>
    <p>Players: {{ inGameSession.players.length }}</p>
    <p>Start Points: {{ inGameSession.startPoints.length }}</p>
    <p>Turn Order Index: {{ inGameSession.turnOrderIndex.length }}</p>
    <p>Current Turn Index: {{ inGameSession.currentTurnIndex }}</p>
    <p>Current Turn: {{ getCurrentTurn() }}</p>
    <p>Active Player: {{ getActivePlayerName() }}</p>
    <p>Turn timer: {{ getTimeRemaining() }}</p>
    <p>Is Transitioning: {{ getIsTransitioning() }}</p>
    <p>Is My Turn: {{ getIsMyTurn() }}</p>
    <button [disabled]="getDisableStartButton()" (click)="onStartTurn()">Start Turn</button>
    <button [disabled]="!getIsMyTurn()" (click)="onEndTurn()">End my turn</button>
</app-ui-page-layout>

@if (getIsTransitioning()) {
<div class="transition-overlay" (click)="$event.stopPropagation()">
    <div class="transition-modal">
        <h2>{{ getTransitionMessage() }}</h2>

        <div class="loading-spinner">
            <p>{{ getTimeRemaining() }}</p>
        </div>
    </div>
</div>
}
