@use 'theme' as *;

.uiSpinner {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
    }

    &::before {
        display: block;
        width: 100%;
        height: 100%;
        background:
            radial-gradient(circle, currentColor 60%, transparent 61%) 50% 0%,
            radial-gradient(circle, currentColor 60%, transparent 61%) 85% 15%,
            radial-gradient(circle, currentColor 60%, transparent 61%) 100% 50%,
            radial-gradient(circle, currentColor 60%, transparent 61%) 85% 85%,
            radial-gradient(circle, currentColor 60%, transparent 61%) 50% 100%,
            radial-gradient(circle, currentColor 60%, transparent 61%) 15% 85%,
            radial-gradient(circle, currentColor 60%, transparent 61%) 0% 50%,
            radial-gradient(circle, currentColor 60%, transparent 61%) 15% 15%;
        background-size: 20% 20%;
        background-repeat: no-repeat;
        animation: ui-pixel-spin 1s steps(16) infinite;
    }

    /* sizes */
    &.s-sm {
        width: 16px;
        height: 16px;
    }
    &.s-md {
        width: 24px;
        height: 24px;
    }
    &.s-lg {
        width: 32px;
        height: 32px;
    }
}

/* Dynamic variants from the map */
.uiSpinner {
    @each $name, $bg in $ui-colors {
        &.v-#{$name} {
            color: ui-contrast($name); // the spinner takes the contrast color
        }
    }
}

@keyframes ui-pixel-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
