<div [ngClass]="classes" (click)="toggleValue($event)" [attr.aria-checked]="value" role="checkbox" [attr.aria-disabled]="disabled">
    <div [ngClass]="classes" class="checkbox-box">
        <span [ngClass]="classes" class="checkbox-indicator" [class.visible]="value" aria-hidden="true">✓</span>
    </div>
    @if (label) {
    <span [ngClass]="classes" class="checkbox-label">{{ label }}</span>
    } @else {
    <span [ngClass]="classes" class="checkbox-label"><ng-content></ng-content></span>
    }
</div>
