<div
    class="obj"
    draggable="true"
    [class.dragging]="isDragging"
    (dragstart)="onDragStart($event)"
    (dragend)="onDragEnd()"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (contextmenu)="onContextMenu($event)"
    [attr.data-id]="object.id"
    [attr.data-kind]="object.kind"
>
    @switch (object.kind) { @case ('HEAL') {
    <div class="placeholder heal">🏥</div>
    } @case ('FIGHT') {
    <div class="placeholder fight">⚔️</div>
    } @case ('BOAT') {
    <div class="placeholder boat">🛶</div>
    } @case ('FLAG') {
    <div class="placeholder flag">🚩</div>
    } @case ('START') {
    <div class="placeholder start">🏁</div>
    } @default {
    <div class="placeholder">❓</div>
    } }
</div>
