:host {
    display: block;
    --tile: 48px; // default
}

.placeholder {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: calc(var(--tile) * 0.7);
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
}
