.map-tile {
    width: 100%;
    height: 100%;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

