<app-ui-card size="lg" alignContent="left" [popOut]="false" [fullWidth]="false" variant="secondary" size="sm" class="game-card">
    <app-ui-card-title [iconRight]="true" [icon]="'Gamepad'">{{ game.name }}</app-ui-card-title>
    <app-ui-card-content>
        <p><strong>ID du jeu:</strong> {{ game.id }}</p>
        <p><strong>Dernière modification:</strong> {{ game.lastEdit | date: 'short' }}</p>
        <p><strong>Mode jeu:</strong> {{ game.gameMode }}</p>
        <p><strong>Taille de la carte:</strong> {{ game.mapSize }}</p>
        @if (admin) {
        <p>
            <app-ui-checkbox
                variant="secondary"
                size="sm"
                [popOut]="false"
                [(ngModel)]="game.visible"
                [disabled]="false"
                (ngModelChange)="toggleVisibility.emit(game.visible)"
            >
                {{ game.visible ? 'Visible' : 'Caché' }}
            </app-ui-checkbox>
        </p>
        }
        <p>
            <strong>Prévisualisation</strong>
            <br />
            <app-ui-tooltip position="top" text="{{ game.description || 'Aucune description' }}">
                <div style="width: 100%; height: 200px">
                    <img src="{{ game.previewImageUrl }}" style="display: block; max-height: 100%; max-width: 100%; margin: 0 auto" />
                </div>
            </app-ui-tooltip>
        </p>
    </app-ui-card-content>
    <app-ui-card-footer alignContent="center">
        @if (admin) {
        <app-ui-link-button2
            color="warn"
            shape="rounded"
            fontSize="xs"
            size="sm"
            fontSize="sm"
            leftIcon="Edit"
            width="full"
            [routerLink]="'/admin-page/game/' + game.id"
            [style]="'filled'"
            [popOut]="false"
            >Éditer le jeu
        </app-ui-link-button2>
        } @else {
        <app-ui-link-button2
            color="primary"
            shape="rounded"
            fontSize="xs"
            size="sm"
            leftIcon="Play"
            width="full"
            [routerLink]="'/game/' + game.id"
            [style]="'filled'"
            [popOut]="false"
            >Créer partie
        </app-ui-link-button2>
        }
    </app-ui-card-footer>
</app-ui-card>
