.showcase-container {
  padding: 2rem;
}

.page-title {
  margin-bottom: 1.5rem;
  font-weight: 600;
  text-align: center;
}

mat-grid-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  app-ui-button {
    min-width: 140px;
  }
}
