.ui-input {
    font-weight: 400;

    &-sm {
        font-size: 1rem;
    }

    &-md {
        font-size: 1rem;
    }

    &-lg {
        font-size: 1rem;
    }

    &-full {
        width: 100%;
    }

}
