<div class="uiInput" [ngClass]="classes">
    @if (label) {
    <label class="uiInput-label"> {{ label }} @if (required) { <span class="req">*</span> }</label>
    }

    <div class="uiInput-field">
        @if (prefixIcon) {
        <app-ui-icon [iconName]="prefixIcon" variant="secondary"></app-ui-icon>
        }

        <input
            class="in-control"
            [attr.type]="type"
            [attr.placeholder]="placeholder"
            [attr.maxLength]="maxLength ?? null"
            [attr.minLength]="minLength ?? null"
            [disabled]="disabled || isDisabled"
            [value]="value"
            [style.text-align]="alignText ?? 'left'"
            (input)="onInput($event)"
            (blur)="onBlur()"
        />

        @if (suffixIcon) {
        <app-ui-icon [iconName]="suffixIcon" variant="secondary"></app-ui-icon>
        }
        <button
            type="button"
            class="clear-btn"
            [ngClass]="{ isHidden: !clearable || !value || disabled || isDisabled }"
            (click)="onClear(); $event.stopPropagation()"
            aria-label="Clear"
        >
            ×
        </button>
    </div>

    @if (maxLength) {
    <div class="uiInput-meta">
        <span class="counter">{{ value.length || 0 }}/{{ maxLength }}</span>
    </div>
    }
</div>
