<div class="list">
    @for (b of brushes; track b.image) {
    <button
        class="tool-btn {{ b.class }}"
        [class.selected]="b.tileKind === tileKind.TELEPORT ? isTeleportSelected() : isBrushSelected(b)"
        [disabled]="b.tileKind === tileKind.TELEPORT && isTeleportDisabled()"
        (click)="selectTileBrush(b.tileKind)"
        [style.background-image]="'url(' + b.image + ')'"
        [attr.data-tooltip]="tileLabel[b.tileKind]"
    >
        @if (b.tileKind === tileKind.TELEPORT && getActiveTeleportChannelNumber() !== null) {
            <span class="teleport-channel-number">{{ getActiveTeleportChannelNumber() }}</span>
        }
    </button>
    }
</div>
